<div class="footer">
  <div class="ft"></div>
  <div fxLayout="row" fxLayoutAlign="center center">
      Ainda quer saber mais? Fale com a gente!
  </div>
  <br>
  <div fxLayout="row" fxLayoutAlign="center center">
      (31) 9 8991-4525
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="assets/images/social_icons/fb_g.png">
    <img src="assets/images/social_icons/insta_g.png">
    <img src="assets/images/social_icons/gmail_g.png">
    <img src="assets/images/social_icons/wpp_g.png">
  </div>
</div>
