@import 'assets/scss/modules/_fonts.scss';

html, body {
  margin: 0;
  height: 100%;
}

// primary font
$primary_font: 'Poppins';
// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

body {
  margin: 0;
  font-family: $primary_font !important;
  font-size: $primary-fs !important;
  font-weight: $regular !important;
}
